* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "popins",sans-serif;
}
.wrapper {
  background-color: rgba(27, 5, 5, 0.7);
  padding-bottom: 20px;
}
nav h2 {
  padding-top: 20px;
  padding-left: 10px;
  font-size: 20px;
  color: rgb(204, 204, 98);
}
.sidebar {
  position: fixed;
  background-color: rgb(143, 77, 77);
  width: 200px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.sidebar img {
  height: 100px;
  width: 40%;
  border-radius: 50%;
  justify-content: center;
  padding: 20px;
}
.sidebar ul li {
  margin: 25px 0;
}
hr {
  color: black;
}
.sidebar ul li a {
  color: aliceblue;
  padding: 0 30px;
  font-size: 25px;
}
.sidebar ul li a:hover {
  color: bisque;
  margin-left: 20px;
  transform: 0.4s ease;
}
.hamburger div {
  margin: 3px;
  width: 25px;
  height: 4px;
  background-color: rgb(255, 254, 254);
}
.hamburger {
  margin-left: 300px;
}
.close {
  width: 25px;
  margin-left: 300px;
  background-color: aliceblue;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(
    to right,
    rgba(83, 2, 2, 0.5),
    rgba(10, 7, 1, 0.452)
  );
}
.container h3 {
  position: absolute;
  top: 25%;
  left: 40%;
  /* transform: translate(-50px, -50px); */
  text-align: center;
  color: rgb(236, 83, 27);
  font-size: 85px;
  font-weight: 900;
  /* -webkit-text-stroke:0.3vw rgb(129, 59, 59); */
  /* line-height: 85px;  */
}
.container ::after{
  border-right: 2px solid yellowgreen ;
  animation: donkey 1s infinite;
}

.container p ::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: blue;
  border-right: 2px solid yellowgreen;
  overflow: hidden;
  animation: donkey 9s linear infinite;
}
@keyframes donkey {
  0%
 {
    width: 0ch;
  }
   100% {
    width: 35ch;
  }
}
.container p {
  position: absolute;
  top: 60%;
  left: 40%;
  transform: translate(-50px, -50px);
  text-align: center;
  color: rgb(202, 182, 64);
  font-size: 35px;
  font-weight: 700;
  animation: donkey 6s  infinite;
  overflow: hidden;
  border-right: 4px solid rgb(209, 212, 22);
  white-space: nowrap;
  /* -webkit-text-stroke:0.3vw rgb(129, 59, 59); */
  /* line-height: 85px;  */
}
.elements div {
  position: absolute;
  height: 60px;
  background: transparent;
  border: 6px solid black;
  width: 60px;
}
.elements div:nth-child(1) {
  top: 11%;
  left: 41%;
  animation: animate 10s linear infinite;
}
.elements div:nth-child(2) {
  top: 31%;
  left: 71%;
  animation: animate 10s linear infinite;
}
.elements div:nth-child(3) {
  top: 60%;
  left: 59%;
  animation: animate 7s linear infinite;
}
.elements div:nth-child(4) {
  top: 62%;
  left: 90%;
  animation: animate 9s linear infinite;
}
.elements div:nth-child(5) {
  top: 50%;
  left: 46%;
  animation: animate 3s linear infinite;
}



@keyframes animate {
  0% {
    transform: scale(0) translate(-90px) rotate(360deg);
  }
  100% {
    transform: scale(1.3) translate(-90px) rotate(-180deg);
    border-radius: 50%;
    opacity: 0;
  } 
}


@media (max-width: 765px) {
  .sidebar {
    width: 200px;
    transform: translateX(-768px);
    transition: 0.5s ease;
  }
  .sidebar ul li a {
    font-size: 16px;
    padding: 20px;
  }
  .close {
    display: none;
  }
  .container h3 {
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50px, -50px);
    text-align: center;
    /* color: transparent; */
    font-size: 45px;
    font-weight: 600;
    padding-left: 40px;
    /* -webkit-text-stroke:0.3vw rgb(129, 59, 59);
        line-height: 85px;  */
  }
  .container p {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50px, -50px);
    text-align: center;
    overflow: hidden;
    /* color: transparent; */
    font-size: 17px;
    font-weight: 600;
    padding-left: 40px;
    /* -webkit-text-stroke:0.3vw rgb(129, 59, 59); */
    /* line-height: 85px;  */
  }

  .container p ::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: blue;
    border-right: 2px solid yellowgreen;
    overflow: hidden;
    animation: donkey 4s linear infinite;
  }
}

@media (min-width: 765px) {
  .hamburger div {
    display: none;
  }
  .close {
    display: none;
  }
  nav h2 {
    margin-left: 300px;
  }
}
